
<app-header></app-header>

<div class="content-rastreios">
  <div>
    <h1>🔍 Acompanhe sua carga na DGA</h1>

    <p>Na DGA, transparência e agilidade são pilares do nosso atendimento. É por isso que oferecemos um sistema completo de rastreio, permitindo que você acompanhe cada etapa da sua entrega com precisão e segurança — do início ao fim da jornada.

    Ao clicar no botão de rastreio, você será redirecionado para uma plataforma externa segura: o Brudam, nosso sistema de gestão logística. Lá, basta inserir os dados fornecidos no momento do envio para visualizar em tempo real:</p>

    <p>📍 Localização atual da carga</p>
    ⏱️ Previsão de entrega

    <p>🛣️ Histórico de movimentações</p>

    <p>🗺️ Status atualizado da operação</p>

    <p>📦 Comprovante de entrega</p>

    <p>Seja para cargas urgentes, dedicadas ou fracionadas, nosso rastreio é sincronizado com nossa central de monitoramento, que opera 24h por dia, garantindo uma entrega mais rápida, rastreável e sem surpresas.

    Tudo isso com o suporte de uma equipe pronta para te atender a qualquer momento.

    🔗 Clique abaixo para acessar o rastreio e veja como estamos levando sua carga com cuidado, compromisso e informação em tempo real.</p>

  </div>
  <div class="content-button">
    <button class="button-rastreamento"><a href="#" target="_blank">Rastreamento</a></button>
  </div>
  </div>




<app-footer></app-footer>
