<app-header></app-header>


<section class="institucional-container">

  <!-- Header -->
  <div class="inst-header">
    <h1>DGA Logística</h1>
    <p class="inst-subtitle">Credibilidade, transparência e o respaldo das maiores instituições do país.</p>
  </div>

  <!-- Card BNDES -->
  <div class="inst-card highlight-card fade-in">
    <div class="card-icon">
      <img src="assets/logo-bndes.jpg" alt="Ícone BNDES" />
    </div>

    <div class="card-content">
      <h2>Por que temos credenciamento no BNDES?</h2>
      <p>
        O credenciamento da DGA Logística junto ao <strong>BNDES</strong> confirma nossa
        solidez, transparência e responsabilidade operacional.
        Esse reconhecimento é concedido apenas a empresas que atendem aos mais
        rigorosos critérios de governança, regularidade fiscal, saúde financeira
        e capacidade técnica.
      </p>

      <p>
        Para nossos clientes, isso significa segurança nas negociações, confiança
        institucional e acesso a operações com ainda mais respaldo.
        É a garantia de que a DGA Logística segue padrões elevados e atua com
        excelência em todas as etapas da cadeia logística.
      </p>
    </div>
  </div>

  <!-- Código de Conduta -->
  <div class="inst-card fade-in delay-1">
    <h2>Código de Conduta da DGA Logística</h2>
    <p class="text-codig-conduta">
      Nosso Código de Conduta reflete os valores que guiam nossas relações,
      decisões e práticas internas. Ele reforça nosso compromisso com ética,
      responsabilidade, integridade e respeito.
    </p>

    <a
      style="cursor: pointer;"
      (click)="downloadCodigoConduta()"
      download
      class="download-btn"
    >
      📄 Baixar Código de Conduta
    </a>
  </div>

</section>

<app-footer></app-footer>
