.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #111;
}

.scroll-area {
  display: flex;
  width: 80%;
  height: 600px;
  overflow-y: auto;
  position: relative;
  border: 2px solid #333;
  border-radius: 12px;
  background-color: #000;
  color: #fff;
}

.text-sections {
  width: 50%;
  position: relative;
}

.section {
  height: 600px;
  display: flex;
  align-items: center;
  padding: 30px;
}

.content {
  max-width: 90%;
}

.image-area {
  width: 50%;
  position: sticky;
  top: 0;
  height: 600px;
  overflow: hidden;
  margin-right: 40px;
}

.blend-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 25vw;
  height: 600px;
  object-fit: contain;
  transition: opacity 0.17s ease;
  mix-blend-mode: screen;
  pointer-events: none;
}
