<app-header></app-header>

<div class="wrapper">
  <div class="scroll-area" (scroll)="onScroll($event)" #scrollContainer>
    <!-- Coluna de textos -->
    <div class="text-sections" [style.height.px]="parceiros.length * sectionHeight">
      <div class="section" *ngFor="let parceiro of parceiros; let i = index">
        <div class="content" *ngIf="getActiveIndex() === i">
          <h2>{{ parceiro.nome }}</h2>
       <p>{{ isMobile ? parceiro.descricaoMobile : parceiro.descricao }}</p>
        </div>
      </div>
    </div>

    <!-- Camada de imagem sticky -->
    <div class="image-area">
      <ng-container *ngFor="let parceiro of parceiros; let i = index">
        <img
          [src]="parceiro.logo"
          class="blend-image"
          [style.opacity]="getOpacity(i)"
          [style.zIndex]="parceiros.length - i"
        />
      </ng-container>
    </div>
  </div>
</div>




<app-footer></app-footer>
