<app-header></app-header>

<div class="container">
  <div class="text-section">
    <div class="texto">
      {{ currentText }}
    </div>

    <div class="imagem-texto" *ngIf="currentItem?.imagemTexto">
      <img [src]="currentItem.imagemTexto" alt="Imagem adicional" />
    </div>
  </div>

  <div class="image-section" #scrollContainer (scroll)="onScroll()">
    <div class="scroll-content">
      <div
        class="image"
        *ngFor="let item of items"
        [ngStyle]="{ 'background-color': currentColor }"
      >
        <img [src]="item.imagem" alt="Imagem relacionada ao texto" />
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
