<app-header></app-header>


<div class="content-parceiros">
  <div style="display: flex; justify-content: center;" class="titulo-parceiros">
    <h2 style="margin: 0px; font-size: 2rem;">Trabalhamos com os melhores parceiros</h2>
  </div>
  <div class="parceiros-text">
    <p style="margin: 0px; font-size: 1rem;">Na DGA Logística (Top Logística Transporte de Cargas Ltda), somos especialistas em soluções completas de transporte e logística, atuando em todo o Brasil. Trabalhamos com diversos métodos de entrega, incluindo cargas pesadas, especiais, distribuição fracionada e coletas, garantindo que encontremos o processo ideal para atender suas necessidades com eficiência, segurança e compromisso.</p>
  </div>

<div class="slider">
  <div class="slide-track">
    <img *ngFor="let img of imagensDuplicadas" [src]="img" class="slide" />
  </div>
</div>


<div class="content-button">
  <button class="cta-btn">
    <a href="https://wa.me/5511989209203" target="_blank">
      Consulte mais informações
    </a>
  </button>
</div>


</div>


<app-footer></app-footer>
