<app-header></app-header>
<app-colunas-img
  [imageSrc]="'assets/truck-montain.jpg'"
  [title]="'Carro Dedicado'"
  [description]="'Exclusividade total para sua carga, sem paradas, garantindo os menores prazos de entrega.'">
</app-colunas-img>


<app-colunas-img
  [imageSrc]="'assets/rodoviario-exp.png'"
  [title]="'Rodoviário Expresso'"
  [description]="' Entregas mais rápidas no modal rodoviário com prioridade nas coletas e trajetos.'">
</app-colunas-img>


<app-colunas-img
  [imageSrc]="'assets/cargo-plane-airport.jpg'"
  [title]="'Aéreo'"
  [description]="' O caminho mais rápido para cargas urgentes, reduzindo drasticamente o tempo de trânsito.'">
</app-colunas-img>



<app-colunas-img
  [imageSrc]="'assets/airplane-sunrise.jpg'"
  [title]="'Hot Situation'"
  [description]="' Atendimento emergencial com acionamento imediato para transportes urgentes e prazos reduzidos.'">
</app-colunas-img>



<app-colunas-img
  [imageSrc]="'assets/low-angle-view-city.jpg'"
  [title]="'Manuseio e Armazenagem'"
  [description]="' Processamento ágil de mercadorias para reduzir tempo de permanência e acelerar distribuição.'">
</app-colunas-img>



<app-colunas-img
  [imageSrc]="'assets/animacao-prazo-t.png'"
  [title]="'Distribuição estratégica'"
  [description]="' Otimização de fluxos para entregas mais rápidas nas principais regiões do Brasil.'">
</app-colunas-img>


<video #videoRef muted loop playsinline preload="auto">
  <source src="assets/modal-prazo.mp4" type="video/mp4">
  Seu navegador não suporta vídeos.
</video>








