<app-header></app-header>

<div class="carousel-wrapper">
 <div
  class="carousel"
  [style.transform]="'translateX(-' + currentSlide * 100 + '%)'"
  [class.no-transition]="!isTransitioning"
>
    <app-colunas-img
      *ngFor="let item of colunas"
      [imageSrc]="item.imageSrc"
      [title]="item.title"
      [description]="item.description"
      [buttonText]="item.buttonText"
      [buttonEmail]="item.buttonEmail">
    </app-colunas-img>
  </div>

  <div class="indicators">
  <button
  *ngFor="let item of colunas; let i = index"
  [class.active]="i === currentSlide"
  (click)="goToSlide(i)">
</button>

  </div>
</div>

<video #videoRef muted loop playsinline preload="auto">
  <source src="assets/video-preco2.mp4" type="video/mp4">
  Seu navegador não suporta vídeos.
</video>

<app-footer></app-footer>

<div class="modal-spinner" *ngIf="isLoading">
  <div class="spinner"></div>
</div>

