<app-header></app-header>

<!-- 🔹 Rodoviário Compartilhado – Reduza custos aproveitando espaço em veículos que já estão em rota. Ideal para cargas menores e envios não urgentes. -->
<app-colunas-img
  [imageSrc]="'assets/rodoviario-compartilhado.jfif'"
  [title]="'Rodoviário Compartilhado'"
  [description]="'Reduza custos aproveitando espaço em veículos que já estão em rota. Ideal para cargas menores e envios não urgentes.'">
</app-colunas-img>

<!-- 🔹 Aero-Rodoviário – Combinação estratégica do modal aéreo com o rodoviário para equilibrar preço e agilidade. -->
<app-colunas-img
  [imageSrc]="'assets/aereorodoviario.jpg'"
  [title]="'Aero-Rodoviário'"
  [description]="'Combinação estratégica do modal aéreo com o rodoviário para equilibrar preço e agilidade.'">
</app-colunas-img>

<!-- 🔹 Manuseio e Armazenagem – Estrutura completa para recebimento, conferência e armazenagem temporária, reduzindo necessidade de espaço próprio. -->
<app-colunas-img
  [imageSrc]="'assets/manuseio-armazen.jpg'"
  [title]="'Manuseio e Armazenagem'"
  [description]="'Estrutura completa para recebimento, conferência e armazenagem temporária, reduzindo necessidade de espaço próprio.'">
</app-colunas-img>

<!-- 🔹 Consolidação de Cargas – Possibilidade de reunir diferentes cargas em um único embarque para otimização de custos. -->
<app-colunas-img
  [imageSrc]="'assets/consolidacao-de-cargas.jpg'"
  [title]="'Consolidação de Cargas'"
  [description]="'Possibilidade de reunir diferentes cargas em um único embarque para otimização de custos.'">
</app-colunas-img>

<!-- 🔹 Planejamento Logístico Inteligente – Roteirização eficiente para menor custo por entrega. -->
<app-colunas-img
  [imageSrc]="'assets/planejamento-logistico.jpeg'"
  [title]="'Planejamento Logístico Inteligente'"
  [description]="'Roteirização eficiente para menor custo por entrega.'">
</app-colunas-img>


<video #videoRef muted loop playsinline preload="auto">
  <source src="assets/video-preço.mp4" type="video/mp4">
  Seu navegador não suporta vídeos.
</video>
