<footer class="footer">
  <div class="footer-section">
    <h3>Parceiros:</h3>
    <p>Natura, Atacadão, Carrefour e Voicedata</p>
  </div>

  <div class="footer-section">
    <h3>Localização:</h3>
    <p>R. Prof. Araújo Coelho, 231 - Jardim Libano São Paulo - SP, 05138-000
    </p>
  </div>

  <div class="footer-section">
    <h3>Contatos:</h3>
    <p>Email: <a href="mailto:Comercial3@dgalogistica.com.br">Comercial3@dgalogistica.com.br</a></p>
    <p>Fixo: <a href="tel:+551139035027">+55 11 3903-5027</a></p>
    <p>WhatsApp: <a href="https://wa.me/5511989203">+55 11 98920-9203</a></p>
  </div>

  <div class="footer-section">
    <h3>Redes:</h3>
    <p><a href="https://www.instagram.com/dgalogistica/" target="_blank">Instagram</a></p>
    <p><a href="https://www.linkedin.com/in/dga-logistica-9341a5297/?originalSubdomain=br" target="_blank">LinkedIn</a></p>
  </div>

  <div class="footer-cnpj">
    <p>A empresa DGA LOGÍSTICA, com a razão social TOP LOGÍSTICA TRANSPORTE DE CARGAS LTDA, opera com o CNPJ 22.087.970/0001-09. Seu foco principal de atuação é transporte rodoviário de carga, exceto produtos perigosos e mudanças, intermunicipal, interestadual e internacional, de acordo com o código CNAE H-4930-2/02.</p>
  </div>
</footer>
