.footer {
  background-color: #262626;
  color: #fff;
  padding: 53px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  z-index: 5;
}
.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 10px;

  img{
    width: 130px;
  }
}
.footer-cnpj {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-size: 10px;
}
.footer a {
  color: #c73028;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
.footer-copyright{
  p {
    font-size: 10px;
  }
}

@media (max-width: 912px) {

img{
  width: 50px !important;
}

h3{
  font-size: 12px !important;
}

p{
  font-size: 8px !important;
}

}
