<div class="image-card">
  <img [src]="imageSrc" [alt]="title" loading="lazy" />
  <div class="content">
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>
  </div>
</div>

<!-- <div class="image-card">
  <picture>
    <source [srcset]="convertToWebP(imageSrc)" type="image/webp" />
    <img [src]="imageSrc" [alt]="title" loading="lazy" />
  </picture>
  <div class="content">
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>
  </div>
</div> -->




<!-- Modalidade por preço
🔹 Rodoviário Compartilhado – Reduza custos aproveitando espaço em veículos que já estão em rota. Ideal para cargas menores e envios não urgentes.
🔹 Aero-Rodoviário – Combinação estratégica do modal aéreo com o rodoviário para equilibrar preço e agilidade.
🔹 Manuseio e Armazenagem – Estrutura completa para recebimento, conferência e armazenagem temporária, reduzindo necessidade de espaço próprio.
🔹 Consolidação de Cargas – Possibilidade de reunir diferentes cargas em um único embarque para otimização de custos.
🔹 Planejamento Logístico Inteligente – Roteirização eficiente para menor custo por entrega.





Modalidade por Prazo (Velocidade) 🚀
⚡ Carro Dedicado – Exclusividade total para sua carga, sem paradas, garantindo os menores prazos de entrega.
⚡ Rodoviário Expresso – Entregas mais rápidas no modal rodoviário com prioridade nas coletas e trajetos.
⚡ Aéreo – O caminho mais rápido para cargas urgentes, reduzindo drasticamente o tempo de trânsito.
⚡ Hot Situation – Atendimento emergencial com acionamento imediato para transportes urgentes e prazos reduzidos.
⚡ Manuseio e Armazenagem – Processamento ágil de mercadorias para reduzir tempo de permanência e acelerar distribuição.
⚡ Distribuição Estratégica – Otimização de fluxos para entregas mais rápidas nas principais regiões do Brasil. -->
