<div class="image-card">
  <img [src]="imageSrc" [alt]="title" loading="lazy" />
  <div class="content">
    <h1 class="titulo">{{ title }}</h1>
    <p>{{ description }}</p>

    <div class="content-btn">
     <button
      *ngIf="buttonText"
      class="action-button-whats"
      (click)="redirecionaWpp()"
      rel="noopener noreferrer"
    >
        {{ buttonText }}
      </button>


          <button
            *ngIf="buttonEmail"
            class="action-button-email"
           (click)="redirecionaContato()"
            rel="noopener noreferrer"
          >
        {{ buttonEmail }}
          </button>


    </div>

  </div>
</div>
