<div class="image-card">
  <img [src]="imageSrc" [alt]="title" loading="lazy" />
  <div class="content">
    <h1 class="titulo">{{ title }}</h1>
    <p>{{ description }}</p>
<a
  *ngIf="buttonText"
  class="action-button-whats"
  [href]="whatsAppLink"
  target="_blank"
  rel="noopener noreferrer"
>
  {{ buttonText }}
</a>


    <a
      *ngIf="buttonEmail"
      class="action-button-email"
      href="mailto:Comercial3@dgalogistica.com.br?subject=Contato%20via%20site"
      target="_blank"
      rel="noopener noreferrer"
    >
  {{ buttonEmail }}
    </a>

  </div>
</div>
