<app-header></app-header>


<div class="content-pagina-inicial">
  <div class="content-pagina-inicial__block-imgs">
    <h1 class="content-pagina-inicial__redirect-main-link"><a routerLink="/preco">PREÇO</a></h1>
    <img [src]="imageList1[currentImageIndex]" alt="">
  </div>

  <div class="content-pagina-inicial__block-imgs">
    <h1 class="content-pagina-inicial__redirect-main-link"><a routerLink="/prazo">PRAZO</a></h1>
    <img [src]="imageList2[currentImageIndex]" alt="">
  </div>
</div>



<!-- MENSAGEM TEMPORARIA -->
<div class="modal-manutencao" *ngIf="emManutencao">
  <div class="modal-content">
    <h1>ATENÇÃO!</h1>
    <h2 style="color: red;">Site em Manutenção</h2>
    <p>
      Estamos realizando ajustes e testes no sistema. Durante este período, é possível que a navegação, especialmente em dispositivos móveis, não funcione corretamente. Algumas funcionalidades podem estar indisponíveis ou apresentar instabilidades temporárias. Agradecemos a compreensão.
    </p>

    <button (click)="fechar()">Fechar</button>
  </div>
</div>



<app-footer></app-footer>
