<app-header></app-header>


<div class="content-pagina-inicial">
  <div class="content-pagina-inicial__block-imgs">
    <h1 class="content-pagina-inicial__redirect-main-link"><a routerLink="/preco">PREÇO</a></h1>
    <img [src]="imageList1[currentImageIndex]" alt="">
  </div>

  <div class="content-pagina-inicial__block-imgs">
    <h1 class="content-pagina-inicial__redirect-main-link"><a routerLink="/prazo">PRAZO</a></h1>
    <img [src]="imageList2[currentImageIndex]" alt="">
  </div>
</div>


<app-footer></app-footer>
