.content-header {
  display: flex;
  width: 100%;
  gap: 40px;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #d6d6d6;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-top: 0px;

  p {
    font-size: 1.1rem;
    cursor: pointer;
    margin: 20px;

    a {
      text-decoration: none;
      color: #4a4f55;
      font-weight: 600;
    }
  }
  p:hover a {
    color: #f4640b;
  }

  img{
    width: 170px;
    margin: 20px;
  }

  &__collumn{
    display: flex;
  }
}
