.content-header {
  display: flex;
  width: 100%;
  gap: 40px;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #d6d6d6;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-top: 0px;

  p {
    font-size: 1.1rem;
    cursor: pointer;
    margin: 20px;

    a {
      text-decoration: none;
      color: #4a4f55;
      font-weight: 600;
    }
  }
  p:hover a {
    color: #f4640b;
  }

  img{
    width: 170px;
    margin: 20px;
  }

  &__collumn{
    display: flex;
    justify-content: center;
  }
}



  @media (max-width: 600px) {
    .content-header{

    }


     @media (max-width: 460px) {
    .content-header{
      p{
        margin: 0px !important;
        font-size: 16px;
      }
      &__collumn{
        gap: 10px;

      }
    }
  }
  .content-header__collumn{
    margin-bottom: 25px;
  }

  }


.content-header img {
  width: 170px;
}

.content-header__collumn p {
  font-size: 1.1rem;
  cursor: pointer;
  margin: 20px;
}

.content-header__collumn p a {
  text-decoration: none;
  color: #4a4f55;
  font-weight: 600;
}

.content-header__collumn p:hover a {
  color: #f4640b;
}

.content-header__collumn {
  display: flex;
  justify-content: center;
}



/* 🔥 BOTÃO HAMBÚRGUER */
.menu-btn {
  display: none;
  flex-direction: column;
  gap: 6px;
  border: none;
  background: none;
  cursor: pointer;
}

.menu-btn span {
  width: 28px;
  height: 3px;
  background: #333;
  border-radius: 4px;
  transition: 0.3s;
}



/* 🔥 SIDEBAR MOBILE */
.sidebar {
  position: fixed;
  top: 0;
  left: -400px;
  width: 260px;
  height: 100vh;
  background: rgba(20, 20, 20, 0.65);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 4px 0 25px rgba(0, 0, 0, 0.3);
  transition: 0.35s ease-in-out;
  z-index: 9999;
  padding: 30px 20px;

  /* Efeito tecnológico */
  border-right: 2px solid rgba(255, 118, 0, 0.5);
}

.sidebar.open {
  left: 0;
}

.sidebar-content p {
  margin: 25px 0;
}

.sidebar-content p a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.25s ease;
}

/* Desktop hover */
.sidebar-content p a:hover {
  color: #f45e02; /* Laranja */
}

/* Mobile: ao clicar/tocar */
.sidebar-content p a:active {
  color: #f45e02; /* Laranja */
}



/* FUNDO ESCURO AO ABRIR MENU */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, .4);
  backdrop-filter: blur(3px);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 999;
}

.overlay.open {
  opacity: 1;
  visibility: visible;
}



/* RESPONSIVIDADE */
@media (max-width: 863px) {
  .desktop-menu {
    display: none;
  }

  .menu-btn {
    display: flex;
  }
}




